<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- gazebo args -->
  <rosparam param="use_sim_time">true</rosparam>
  <arg name="world_name" default="$(find lar_point_cloud_dec)/worlds/lar.world"/>
  <arg name="paused" default="true" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />

  <!-- husky_gazebo args -->
  <arg name="robot_namespace" default="/"/>

  <!-- Position of Husky -->
  <arg name="x" default="4.65"/>
  <arg name="y" default="3.0"/>
  <arg name="z" default="0.1"/>
  <arg name="yaw" default="0.0"/>

  <!-- Include world launch -->
  <include file="$(find lar_point_cloud_dec)/launch/lar_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
  </include>

  <!-- Include husky_gazebo launcher -->
  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="robot_namespace" value="$(arg robot_namespace)"/>
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
    <arg name="yaw" value="$(arg yaw)"/>
  </include>

  <!-- GLIM (3D SLAM) -->
  <node pkg="glim_ros" type="glim_rosnode" name="glim">
    <param name="config_path" value="$(find lar_point_cloud_dec)/config/glim"/>
  </node>

  <!-- Include topics for husky keyboard control -->
  <group ns="kb_teleop">
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_kb"/>
  </group>

  <!-- Rosbag recording -->

  <node pkg="rosbag" type="record" name="rosbag_record_cam"
       args="record -o $(find lar_point_cloud_dec)/bags/full_point_cloud
       /gazebo_ground_truth/odom /glim_ros/odom /glim_odom_diff"/>

  <!-- RViz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find lar_point_cloud_dec)/config/lar_husky.rviz"/>

  <!-- GLIM Odom Diff -->
  <node pkg="lar_point_cloud_dec" type="glim_odom_diff.py" name="glim_odom_diff"/>

</launch>
